* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.app {
  width: 80%;
  margin: 50px auto;
  background-color: #f5f5dc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.listaAnimais {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastrar {
  background-color: #fff1d2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}

.cadastrar input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botaoCadastrar {
  width: 100%;
  max-width: 200px;
  background-color: #e6e6ff;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.botaoCadastrar:hover {
  background-color: #ddd;
}

.tarefa {
  background-color: #fff1d2;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarefa img {
  max-width: 100px;
  max-height: 100px; /* Adicione uma altura máxima para evitar distorções */
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover; /* Certifique-se de que a imagem cubra completamente a área designada */
}


.acoes {
  display: flex;
  align-items: center;
}

.botaoConcluir,
.botaoRemover {
  width: 100px;
  background-color: #ddd;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.botaoConcluir:hover,
.botaoRemover:hover {
  background-color: #ccc;
}
/* App.css ou o seu arquivo CSS principal */

/* Adicione estilos para os animais */
.animal-bloco {
  background-color: #fff1d2;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animal-bloco img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.animal-bloco .descricao {
  flex: 1; /* Ocupa o espaço disponível */
}

.animal-bloco .acoes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
